<body>
    <%- include("navbar.ejs") %>

    <style>
        body {
            background: linear-gradient(135deg, #ff7f50, #d3d3d3);
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        }
    </style>
    <div class="container-fluid pt-5 mt-5">
        <section class="resume-section">
            <div class="resume-section-content">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="mb-4">
                            <h3 class="text-light">Budite u toku</h3>
                            <p class="text-light">Pretplatite se na naš newsletter kako bi dobili najnovije informacije</p>
                        </div>
                        <div class="mb-4">
                            <form action="https://api.web3forms.com/submit" method="POST">
                                <input type="hidden" name="access_key" value="240d4f75-0a40-4c0e-a4ee-103cef451d93">
                                <div class="mb-3">
                                    <input name="email" type="email" class="form-control" placeholder="Unesite vašu Email adresu" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Pretplatite se</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include("footer.ejs") %>
</body>
